<script>
    $(document).ready(function () {
        var editor = ace.edit("editor");
        var editor_input = ace.edit("editor__input");
        var language = document.querySelector('#language').value
        console.log(language)

        function setEditor(language) {
            editor.setTheme("ace/theme/monokai");
            const url = "ace/mode/" + language
            editor.session.setMode(url);
            editor.setOptions({
                autoScrollEditorIntoView: true,
                copyWithEmptySelection: true,
            });
// use setOptions method
            editor.setOption("mergeUndoDeltas", "always");
            editor.session.setTabSize(4);
            editor.setHighlightActiveLine(true);
        };

        function setEditor_Input() {
            editor_input.setTheme("ace/theme/monokai");
            {#editor_input.session.setMode("ace/mode/javascript");#}
            editor_input.setOptions({
                autoScrollEditorIntoView: true,
                copyWithEmptySelection: true,
            });
        };

        setEditor_Input();
        $("#setLanguage").click(function () {
            language = document.querySelector('#language').value
            setEditor(language)
        })


        const executeCodeBtn = document.querySelector('.editor__run');
        const resetCodeBtn = document.querySelector('.editor__reset');

        executeCodeBtn.addEventListener('click', () => {
            // Get input from the code editor
            const language = document.querySelector('#language').value;

            console.log(language)
            var userCode = editor.getValue().trim();
            var userInput = editor_input.getValue().trim();
            // Run the user code
            let formData = new FormData();
            formData.append('code', userCode);
            if (userInput) {
                formData.append('input', userInput)
            } else {
                formData.append('input', null)
            }
            formData.append('language', language)
            if (formData) {
                $.ajax({
                    url: '{% url "runcode"%}',
                    method: 'POST',
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log(data)
                        $('#output__container').html(data.data['output'])
                    }

                });
            }
        });
    });

</script>
