{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_editor.css' %}">
    {#    LANGUAGE SELECTOR DROPDOWN#}
    <br>
    <button id="setLanguage">
        <select id="language" name="cars">
            <option value="python">Python</option>
            <option value="java">Java</option>
            <option value="c_cpp">C++</option>
        </select>
    </button>
    <br>
    {#    EDITOR#}
    <div id="editor" style="height: 400px;width: 800px;margin-top: 50px">import java.util.*;
        class Test{
            public static void main(String[] args){
            }
        }
    </div>

    {#    FOOTER#}
    <div class="container">
        <div class="editor__footer">
            <div class="editor__footer--left">
                <button class="editor__btn editor__run">Run</button>
                <button class="editor__btn editor__reset">Reset</button>
            </div>
            <div class="editor__footer--right">
                Provide Custom Input
                <div id="editor__input" class="editor__console">

                </div>
            </div>
        </div>
    </div>
    OUTPUT:<br>
    <span id="output__container">
    </span>

    {% include 'problem/editor_js.html' %}

{% endblock content %}